.section-intro {
  margin-top: 130px;
    .green-chop {
        margin: 0 auto;
      .green-intro {
        color: $textColor;
        .green-intro-inner {
            margin-top: 218px;
            text-align: left;
          .intro-title h1{
            font-size: 3.6rem;
            font-weight: 800;
          }
  
          .intro-heading h2{
            max-width: 80%;
            font-size: 4.4rem;
            font-weight: 800;
            line-height: normal;
          }
          .intro-text {
            max-width: 80%;
            margin-top: 32px;
            font-size: 1.6rem;
            font-weight: 400; 
          }
        }
      }
    }
  }
  .green-product {
    border-radius: $boderRadius;
    background-color: $greeColor;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    width: 49vw;
    min-height: 776px;
    position: relative;
    .product-img {
      position: absolute;
      width: 717px;
      height: 719px;
      object-fit: cover;
      align-items: center;
      top: 20px;
      left: -150px;
    }
  
    .product-rotate {
        text-align: left;
        $textColor:#216000;
        color: $textColor;
      font-size: 16.6rem;
      line-height: 16.6rem;
      font-weight: 800;
      opacity: 0.15;
      transform-origin: 0 0;
      rotate:90deg;
      position: absolute;
      left: 750px;
      top: 50px;

    }
  }
  //responsive hero

  @media screen and (max-width:1479px) {
    .green-product{

      .product-img {
        width: 650px;
        top:100px;
      }
      .product-rotate {
        margin-top: 50px;
          font-size: 14rem; 
          line-height: 1;
          left: 650px;
      }
    }

  }
  @media screen and (max-width:1299px) {
    .section-intro {
        .green-chop {
          .green-intro {
            .green-intro-inner {
              .intro-title h1{
                font-size: 3.2rem;
                font-weight: 800;
              }
            }}}}
    .green-product{
      .product-img {
        top:120px;
        width: 550px;
      }
      .product-rotate {
        font-size: 12rem; 
        line-height: 1;
        left: 500px;
        margin-top: 50px;
    }
    }
  }
  @media screen and (max-width:991.98px) {
    .section-intro .green-chop .green-intro .green-intro-inner{
      .intro-text {max-width: 100%;}
      .intro-heading h2{max-width: 100%;}
    }
.section-intro .green-chop .green-intro .green-intro-inner {
    margin-top: 50px;
}
.green-intro-inner{
  .intro-title h1,.intro-heading h2,.intro-text p{
    text-align: center;
  }
}
.green-product{
  width: 100%;
  min-height: 600px;
  justify-content: center;
  align-items: center;
  .product-img {
    height: auto;
  max-width: 70%;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
  }
  .product-rotate {
    position: static;
    rotate: 0deg;
    font-size: 8rem;
    line-height: 8rem;
    text-align: center;
    margin: 0;
  }
}
    
  }

  //end resposive hero
  
  
  // comment
  
  .comment-header {
    margin-top: 100px;
    align-items: center;
    justify-content: center;
    > h2 {
      font-size: 3.2rem;
      text-align: center;
      line-height: 42px;
    }
  
    > p {
      margin-top: 24px;
      font-size: 1.6rem;
      line-height: 20px;
      font-weight: 400;
    }
  }
    
  .comment-content {
    display: flex;
    justify-content: center;
  }
  
  .comment {
    align-items: center;
    justify-content: center;
  
    .comment-item {
      max-width: 100%;
      padding:34px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      border-radius: 5px;
      background-color: #fff;
      box-shadow: -5.8333330154418945px 8.333333015441895px 72.5px 0px rgba(54, 54, 54, 0.12);
    }
    .escutcheon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 83px;
      height: 83px;
      background-color: #FFF0E7;
      border-radius: 10px;
  
      > img {
        width: 45px;
        height: 45px;
      }
    }
  
    .quantity-comment {
      margin: 24px 0px;
      font-size: 4.4rem;
      font-weight: 800;
    }
  
    .family-comment {
        text-align: left;
      font-size: 2rem;
      font-weight: 400;
      line-height: 31px;
    }
  }
  
  // comment item
  .comment {
    margin-top: 50px;
    margin-bottom: 100px;
    align-items: center;
    .restaurant {
      padding: 60px 34px;
      background-color: $whiteColor;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      max-width: 95%;
      border-radius: 5px;
      background-color: #fff;
      box-shadow: -5.8333330154418945px 8.333333015441895px 72.5px 0px rgba(54, 54, 54, 0.12);
  
      .restaurant-img {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 83px;
        width: 83px;
        background-color: #f2ffec;
        border-radius: 10px;
        > img {
            width: 45px;
            height: 45px;
          }
      }
  
      .quantity-restaurant {
        margin:24px 0px;
        font-size: 4.4rem;
        font-weight: 800;
      }
  
      .restaurant-text {
        font-size: 2rem;
        font-weight: 400;
        line-height: 31px;
        text-align: left;
        padding-right: 30px;
      }
    }
  
    .comment-escutcheon {
      position: relative;
      background-color: $whiteColor;
      &::before {
        content: "";
        position: absolute;
        top: -135px;
        left: -135px;
        width: 270px;
        height: 270px;
        border-radius: 50%;
        background-color: $greeColor;
        z-index: -1;
      }
    }
  
    .comment-city {
      position: relative;
      background-color: $whiteColor;
  
      &::after {
        content: "";
        position: absolute;
        bottom: -165px;
        right: -135px;
        width: 270px;
        height: 270px;
        border-radius: 50%;
        background-color: #ffd5bd;
        z-index: -1;
      }
    }
  }
  //responsive comment
@media screen and (max-width: 991.98px){
.comment{
  .container{
    .row{
      .comment-content{
        margin-top: 10px;
        width: 100%;
        .comment-item{
          width: 100%;
        }
        .restaurant{
          width: 100%;
          max-width: 100%;
          padding: 34px;
        }
        .comment-escutcheon{
          &::before{
            display: none;
          }
        }
        .comment-city{
          &::after{
            display: none;
          }
        }
      }
    }
  }
}
}
  // end comment
  


  // begin product
  
  .product {
    .product-title h2{
      margin-top: 200px;
      font-weight: 800;
      font-size: 3.2rem;
      line-height: 42px;
      text-align: center;
    }
  
    .product-list {
      justify-content: center;
      margin-top: 50px;
      margin-bottom: 100px;
      column-gap: 70px;
      row-gap: 100px;
  
      .product-item-dice {
        position: relative;
        &::before {
            content: "";
            width: 270px;
            height: 270px;
            border-radius: 50%;
            position: absolute;
          background-color: $greeColor;
          left:50%;
          transform: translateX(-50%);
          top: 0%;
          z-index: -1;
        }
      }
  
      .product-item-cady,
      .product-item-game {
        position: relative;
        &::before {
            content: "";
            width: 270px;
            height: 270px;
            border-radius: 50%;
            position: absolute;
          background-color: #ffba94;
          left:50%;
          transform: translateX(-50%);
          top:0%;
          z-index: -1;
        }
      }
  
      .product-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;

        .product-img {
          width: 100%;
          padding-top: 135px;
          margin:auto;
        }
        .product-heading {
          position: relative;
          display: flex;
          margin-top: 18px;
          padding-bottom: 12px;
          font-weight: 700;
          font-size: 2.6rem;
          justify-content: center;
          align-items: center;
          text-align: center;
          &::after {
            position: absolute;
            bottom: 0;
            left: 50%;
            content: "";
            width: 40px;
            height: 2px;
            transform: translateX(-50%);
            background-color: #a3a3a3;
          }
        }
  
        .product-quantity {
          margin-top: 17px;
          font-size: 1.7rem;
          font-weight: 400;
          line-height: 22px;
          text-align: center;
          > p {
            color: #656565;
          }
  
          .product-price {
            margin-top: 7px;
            span{
            color: #2c2c2c;
            font-size: 2.8rem;
            font-weight: 600;
          }
        }
    }
      }
  
      .product-btn {
        margin-top: 31px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        background-color: $primaryColor;
        > a {
            margin: 13px 12px;
          font-size: 2rem;
          font-weight: 700;
          color: $whiteColor;
        }
        &:hover {
          background-color: orange;
        }
      }
    }
  }
  @media screen and (max-width: 1199px){
    .product{
      .product-list{
    .product-item{
      .product-content{
        .product-heading{
          font-size: 2.0rem;
        }
        .product-quantity {      
          .product-price {
            margin-top: 7px;
            span{
            color: #2c2c2c;
            font-size: 2.0rem;
            font-weight: 600;
          }
        }
    }
      }
    }
  }
}
}
  @media screen and (max-width: 991.98px){
    .product{
      .product-title h2{
        margin-top: 50px;
      }
      .product-list{
        margin-top: 0px;
        column-gap: 0px;
        row-gap: 0px;
        .product-item-cady,
        .product-item-game,
        .product-item-dice{
          .product-img{
            padding-top: 30px;
          }
          &::before{
            display: none;
          }
        }
        .product-item{
          .product-content{
            .product-heading{
              font-size: 2.4rem;
            }
            .product-quantity {      
              .product-price {
                margin-top: 7px;
                span{
                color: #2c2c2c;
                font-size: 2.4rem;
                font-weight: 600;
              }
            }
        }
          }
        }
      }
    }
  }
  @media screen and (max-width: 610px){
    .product{
      .product-list{
        .product-item{
          .product-content{
            .product-heading{
              font-size: 2.0rem;
            }
            .product-quantity {
              margin-top: 17px;
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 22px;
              text-align: center;
              > p {
                color: #656565;
              }
      
              .product-price {
                margin-top: 7px;
                span{
                color: #2c2c2c;
                font-size: 2.0rem;
                font-weight: 600;
              }
            }
        }
          }
          .product-btn {
            > a {
                margin: 13px 12px;
              font-size: 1.5rem;
              font-weight: 700;
              color: $whiteColor;
            }
        }
        }

      }
    }
  }
  @media screen and (max-width: 480px){
    .product{
      .product-list{
        .product-item{
          .product-content{
            .product-heading{
              font-size: 1.3rem;
            }
            .product-quantity {
              margin-top: 17px;
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 22px;
              text-align: center;
              > p {
                color: #656565;
              }
      
              .product-price {
                margin-top: 7px;
                span{
                color: #2c2c2c;
                font-size: 1.3rem;
                font-weight: 600;
              }
            }
        }
          }
          .product-btn {
            margin-top: 20px;
            > a {
                margin: 13px 12px;
              font-size: 1rem;
              font-weight: 700;
              color: $whiteColor;
            }
        }

      }
    }
  }
}

//end product    

  
  //begin news
  .news {
    .news-header {
      
      > h2 {
        text-align: center;
        font-size: 3.2rem;
        line-height: 42px;
        font-weight: 800;
      }
  
      > p {
        text-align: center;
        margin: 23px auto;
        max-width: 658px;
        font-size: 1.6rem;
        line-height: 21px;
        font-weight: 400;
      }
    }
    // news-button
  
    .news-button {
      margin: 100px auto;
      width: 184px;
      height: 56px;
      border: 1px solid $primaryColor;
      border-radius: 8px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      column-gap: 4px;
      > a {
        font-size: 2rem;
        font-weight: 700;
        color: $linkColor;
      }
      &:hover{
        background-color: $primaryColor;
        a{
          color:#fff;
        }
      }
    }
  }
  
  .news-inner {
    padding: 0;
    margin-top: 30px;
  }
  
  .news-list {
    .news-item {
  
      .news-date {
        margin-top: 17px;
        display: flex;
        justify-content: space-between;
        align-items: center;
  
        > a {
          font-size: 1.8rem;
          font-weight: 500;
          color: $primaryColor;
          &:hover{
            color:rgb(0, 0, 180);
            opacity: 0.8;
          }
        }
  
        .detail-date {
          color: #a3a3a3;
          column-gap: 12px;
          font-size: 1.5rem;
          font-weight: 500;
          display: flex;
          align-items: center;
        }
      }
  
      .news-heading {
        text-align: left;
        margin-top: 17px;
        font-size: 2rem;
        font-weight: 600;
        line-height: 27px;
        &:hover{
          h3 a{
            color: rgb(0, 0, 180);
          opacity: 0.8;
          }
        }
      }
  
      .news-text {
        text-align: left;
        margin-top: 17px;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 21px;
      }
    }
  }
  // end news
  //responsive news
  @media screen and (max-width:767px) {
    .news {
      .news-header {
        > h2 {
          margin-top: -50px;
        }
      }
      .news-inner{
        .news-list{
          row-gap: 30px;
        }
      }
      .news-button {
        margin: 50px auto;
        width: 184px;
      }
  }
}
@media screen and (max-width:576px) {
  .news{
    .news-inner{
      .news-list{
        .news-img{
          a{
            img{
              width: 100%;
            }
          }
        }
      }

    }
    .news-button {
      margin: 50px auto;
      width: 100%;
    }
  }

}

  // begin protect
  
  .protect {
    &::after{
        top:315px;
        left: 0px;
        content: "";
        position: absolute;
  width: 100vw;
  height: 360px;
  background-color: #fff0e7;
  z-index: -1;
}
    margin-top: 100px;
    position: relative;
  
    .protect-header {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      > h2 {
        text-align: center;
        font-size: 3.2rem;
        line-height: 42px;
        font-weight: 800;
        padding: 0;
      }
  
      > p {
        margin-top: 24px;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 20px;
        padding: 0px 50px;
      }
    }
  
    .protect-list {
      margin: 50px 0px;
      display: flex;
      justify-content: center;
      align-items: stretch;
      row-gap: 30px;
      > [class^="col-"] {
      .protect-item {
        background-color: $whiteColor;
        border-radius: 10px;
        min-height: 100%;
  
        .protect-img {
            width: 100%;
        }
  
        .protect-heading h3{
          margin-top: 24px;
          font-size: 2rem;
          font-weight: 600;
          line-height: 27px;
          padding-left: 28px;
          text-align: left;
          color: $secondaryColor;
        }
  
        .protect-text {
            text-align: left;
          margin-left: 28px;
          margin-right: 10px;
          padding-bottom: 10px;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 20px;
        }
      }
    }
}
}
//responsive protect
@media screen and (max-width:991.98px){
  .protect{
    background-color: #fff0e7;
    padding-bottom: 20px;
    .protect-list{
      margin: 0;
      > [class^="col-"] {
      .protect-item{
        .protect-img{
          img{
            width: 100%;
          }
        }
        .protect-heading h3{
            margin-top: 10px;
            margin-bottom: 10px;
            padding-left: 0px;
        }
        .protect-text-01,.protect-text-02,.protect-text-03{
          margin-left: 0px;
        }
      }
    }
  }
    &::after{
      display: none;
    }
    .container{
      .protect-header{
        margin-top: -50px;
        h2{
          text-align: center;
          margin-bottom: 0px;
        }
        p{
          margin-top: 10px;
          text-align: center
          br{
            display: none
            ;
          }
        }
}
    }
  }
}
@media screen and (max-width:767.98px){
  .protect{
    .protect-list{
      justify-content: flex-start;
    }
  }
}

      // begin quality
  
  .quality {
    margin-top: 250px;
    margin-bottom: 0px;
    .quality-list {
      margin: 0;
        justify-content: center;
        align-items: stretch;
        column-gap: 50px;
        row-gap: 40px;
        > [class^="col-"] {
          padding-right: 0px;
        }
        .quality-item{
          align-items: stretch;
          margin: 0;
          .quality-img{
            padding: 0;
            max-width: 100%;
            height: auto;
            img{
              max-width: 55px;
            }
          }
          .quality-content{
            max-width: 220px;
            text-align: left;
            padding: 0px;
            .quality-heading {
              font-size: 2.0rem;
              font-weight: 600;
      }
            .quality-text {
              padding: 0px;
        margin-top: 8px;
        font-size: 1.7rem;
        font-weight: 500;
      }
          }
        }

    }
  }
  
  //  end quality
  //responsive protect
  @media screen and (max-width:991.98px){
    .quality {
     margin: 50px auto;
      .quality-list {
        margin: 0;
          column-gap: 0px;
          row-gap: 30px;
          .quality-item{
            .quality-content{
              max-width: 100%;
            }
          }
  }
}}


//begin-contact
  .contact {
    margin-top: 133px;
    margin-bottom: 200px;
  .row{
    margin: 0 auto;
    .contact-img{
        position: relative;
        &::before{
            position: absolute;
            content: "";
            width: 440px;
            height: 440px;
            background-color: #FFF0E7;
            border-radius: 50%;
            z-index: -1;
            top:60px;
            left: 50px;        
}
    }
  }
    .form-contact {
      padding-left: 120px;
      display: flex;
      flex-direction: column;
      > h3 {
        text-align: left;
        margin-top: 55px;
        font-size: 2.4rem;
        font-weight: 600;
      }
  
      .contact-name {
        input {
            margin-top: 26px;
            max-height: 45px;
            border: 1px solid #a3a3a3;
            border-radius: $boderRadius8;
          width: 100%;
          padding: 15px;
          font-size: 1.6rem;
          font-weight: 400;
        }
      }
  
      .contact-mail {
        margin-top: 22px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
  
        input {
          border: 1px solid #a3a3a3;
          border-radius: $boderRadius8;
          padding: 15px;
          font-family:$font;
          font-size: 1.6rem;
          font-weight: 400;
          width: calc(50% - 10px);
        }
      }
  
      .contact-message {
        margin-top: 22px;
        textarea {
          resize: none;
          font-family:$font;
          font-size: 1.6rem;
          font-weight: 400;
          border: 1px solid #a3a3a3;
          width: 100%;
          height: 170px;
          color: #a3a3a3;
          padding: 16px;
          border-radius: $boderRadius8;
        }
      }
  
      input:focus,
      textarea:focus {
        border: 1px solid $linkColor;
      }
  
      .form-btn {
        margin-top: 26px;
        display: flex;
        justify-content: flex-end;
  
        .btn {
          border-radius: 8px;
          background-color: $primaryColor;
          color: $whiteColor;
          span{
            display: inline-block;
            width: 105px;
            font-size: 2rem;
            margin:14px 22px;
          }
          &:hover {
            background-color: orange;
            opacity: 0.8;
            cursor: pointer;
          }
        }
      }
    }
  }
//end contact
//responsive
  @media screen and (max-width:991.98px){
    .contact{
      margin-top: 100px;
      margin-bottom: 50px;
      .container{
        .row{
            .contact-img{
              &::before{
                display: none;
              }
        }
      }
      .form-contact{
        padding-left: 0px;
        >h3{
          margin-top: 0px;
        }
      }
    }
  }
}
@media screen and (max-width:767.98px){
  .contact{
    margin-top: 50px;
    .container{
      .row{
        .col-5{
          display: none;
        }
          .form-contact{
            width: 100%;
            h3{
              text-align: center;
              margin-bottom: 0px;
            }
          }
          .form-btn {
            margin-top: 20px;
            display: block;
      
            .btn {
              border-radius: 8px;
              background-color: $primaryColor;
              color: $whiteColor;
              min-width: 100%;
              span{
                display:block;
                min-width: 100%;
                font-size: 2rem;
                margin:14px auto;
              }
            }
          }
        }
      }
}
  }
@media screen and (max-width:575.98px){
  .contact{
    margin-top: 50px;
  }
}