*{
    padding:0;
    margin: 0;
    scroll-behavior: smooth;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
.dark {
form{
    background-color: rgb(67, 67, 67);
    color: white;
    input{
        background-color: rgb(67, 67, 67);
        border: 1px solid orange;
        border-radius: 5px;

   
    }
    textarea{
        background-color: rgb(67, 67, 67);
        border: 1px solid orange;
        border-radius: 5px;

    }
}
    background-color: rgb(67, 67, 67);
    .btn-switch-theme,.btn-search,.btn-user{
        svg {
          
            fill: yellow;
        }
        &:hover{
            svg {
                fill: orange;
            }
        }
        
    }
    footer{
        background-color: rgb(67, 67, 67);
        color: #fff;
    }
    #promo,#packages,#services{
        color: #fff;
    }
}

.light {
 
    background-color: white;
    color: black;
    .btn-switch-theme,.btn-search,.btn-user{
        svg {

            fill: #fff;
        }
        &:hover{
            svg {
                fill: orange;
            }
        }
    }
    footer{
        background-color: rgb(67, 67, 67);
        color: #fff;
    }
}
