<h1>Xoa nguoi dung</h1>
<form action="" method="post">
  <div class="mb-3">
    <p>xoa nguoi dung co ten: <%= user.name %>, email: <%= user.email %>?</p>
  </div>

  <button class="btn btn-primary">Xoa</button>
  <a href="/users" class="btn btn-danger">Huy</a>
</form>
