*{
    padding:0;
    margin: 0;
}
.container {
    position: relative;
    min-width: 1200px;
  }
.dark {
  min-width: 1200px;
    a{
        color: yellow;
    }
    background-color: rgb(15, 15, 15);
    color: white;
    // transition: 0.2s linear;
    // transition-property: background-color, color;
    .btn-switch-theme {
        svg {
            fill: yellow;
            stroke: yellow;
        }
    }

}

.light {
  min-width: 1200px;
    a{
        color: rgb(28, 21, 21);
    }
    background-color: white;
    color: rgb(50, 10, 10);
    // transition: 0.2s linear;
    // transition-property: background-color, color;
}
.container-main {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 8px;
    .title {
      position: relative;
      text-align: center;
      padding: 10px;
      font-size: 1.5rem;
      .info-title {
        transition: all 0.3s ease-in-out;
        position: absolute;
        opacity: 0;
        visibility: hidden;
        font-size: 16px;
        top: -50px;
        left: 0%;
        background-color:orange;
        padding: 5px;
        border-radius: 5px;
        z-index: 99;
        color: black;
      }
      &:hover {
        .info-title {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }