*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

.container{
    max-width: 80%;
    margin: 0px auto;;
}
.progress-bar{
    height: 10px;
    background-color: gray;
    position: relative;
    cursor: pointer;
    width: 100%;
}

.progress-bar .progress{
    background-color: red;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    /* width: 50%; */

}
.progress-bar .progress span{
    position: absolute;
    right: 0;
    top: 50%;
    display: block;
    width: 23px;
    height: 23px;
    background-color: blueviolet;
    border-radius: 50%;
    translate: 50% -50%;
   
}
.player{
    margin: 50px auto;
}
.player .playbtn{
    display: inline-block;
    /* margin-bottom: 50px; */
    font-size: 2rem;
    position: relative;
    left: 50%;
    top: -30px;
}
.player .player-inner{
display: flex;
justify-content: space-between;
align-items: center;
gap: 20px;
}
.time-popup {
	background-color: gray;
	color: #fff;
	padding: 5px;
	position: absolute;
	top: -10px;
	transform: translateY(-100%) translateX(-50%);
	border-radius: 2px;
	opacity: 0;
	pointer-events: none;
}
.time-popup::after {
	content: '';
	height: 0;
	width: 0;
	bottom: 0;
	left: 50%;
	transform: translateY(100%) translateX(-50%);
	position: absolute;
	display: block;
	border-top: 8px solid gray;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
	border-bottom: 0px solid transparent;
}
.karaoke-btn {
    text-align: center;
    margin-top: 20px;
}

.karaoke-btn button {
    appearance: none;
    border: none;
    background-color: blueviolet;
    color: white;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.karaoke {
    position: absolute;
    inset: 0;
    flex-direction: column;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transform: translateY(100%);
    overflow: hidden;
    background-color: blueviolet;
    color: white;
    border-radius: 10px;
    transition-property: opacity, visibility, transform;
    transition: 0.8s ease;
    /* z-index: -9999; */

}
.karaoke.show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0%);
    z-index: 9999;
}

.karaoke .karaoke-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    left: 20px;
    top: 20px;
    right: 20px;
}

.karaoke .karaoke-heading h1 {
    line-height: 0.9;
}

.karaoke .karaoke-heading .close-btn {
    display: inline-block;
    color: blueviolet;
    width: 35px;
    height: 35px;
    border-radius: 99px;
    background-color: white;
    text-align: center;
    line-height: 35px;
    font-size: 20px;
}

.karaoke .karaoke-lyric {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.karaoke h2,
.karaoke p {
    text-align: center;
}

.karaoke .name-song {
    font-size: 50px;
    letter-spacing: 0.5px;
}

.karaoke p {
    font-size: 40px;
    font-weight: 500;
}
.karaoke .first-lyric {
    margin-bottom: 15px;
}