.heading{
    color: #319795;
    opacity: 0.6;
    font-weight: 700;
    font-size: 36px;
    margin-top: 10px;
}
.prediction{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
main{
    padding: 16px;
    position: relative;
}
main.dark{
    height: 100vh;
    background-color: #1a202c;
    button i{
        color: #fff;
     }
    
}
.change-theme{
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 5px;
    top: 16px;
    right: 16px;
    border:  1px solid#319795;
    border-radius: 5px;
}
input{
    color: #319795;
    background-color: #fff;
    font-size: 20px;
    margin-top: 20px;
    border: 1px solid #319795;
    border-radius: 3px;
}
input::placeholder{
    color: #319795;
 }
.btn{
    margin-top: 20px;
}
table{
    width: 100%;
    text-align: center;
    border: 1px solid;
    color: #319795;
    opacity: 0.6;
}
.trash{
    margin-top: 15px;
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 5px;
    right: 16px;
    border:  1px solid#319795;
    border-radius: 5px;
    z-index: 1;
}
button{
    cursor: pointer;
}