@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
  border: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: Inter, sans-serif;
  color: #2C2C2C;
  line-height: 1.25;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: #2C2C2C;
}

ul, ol {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  color: #2C2C2C;
  margin: 20px 0;
}

.container {
  --container-width:1200px;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}

footer {
  background-color: #F2FFEC;
}
footer .container {
  padding-top: 28px;
  padding-bottom: 20px;
}
footer .container .row {
  align-items: stretch;
}
footer .container .row .logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  padding-left: 100px;
}
footer .container .row .logo img {
  max-width: 200px;
}
footer .container .row .home-nav, footer .container .row .help-nav, footer .container .row .contact-us {
  text-align: left;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2rem;
  color: #2C2C2C;
}
footer .container .row .home-nav h3, footer .container .row .help-nav h3, footer .container .row .contact-us h3 {
  font-size: 1.6rem;
  line-height: 2.2rem;
  font-weight: 600;
  color: #46B20F;
  margin-bottom: 13px;
}
footer .container .row .home-nav .small, footer .container .row .help-nav .small, footer .container .row .contact-us .small {
  display: flex;
  margin-bottom: 0px;
  margin-top: 6px;
  gap: 10px;
}
footer .container .row .home-nav .small .big, footer .container .row .help-nav .small .big, footer .container .row .contact-us .small .big {
  font-weight: 600;
}
footer .container .row .line {
  margin-top: 75px;
  align-items: center;
  width: 100%;
  height: 1px;
  background-color: #a3a3a3;
}
footer .container .social-media .row {
  margin-bottom: 0px;
}
footer .container .social-media .row .col-10 .row {
  align-items: center;
  margin: 0;
  justify-content: space-between;
}
footer .container .social-media .row .col-10 .row .vertify {
  padding: 0px;
}
footer .container .social-media .row .col-10 .row .vertify img {
  display: block;
  max-width: 174px;
}
footer .container .social-media .row .col-10 .row .social-app {
  display: flex;
  flex-direction: row;
  gap: 6px;
}
footer .container .social-media .row .col-10 .row .social-app a {
  padding: 11px;
  line-height: 11px;
  background-color: #DCFFCA;
  border-radius: 50%;
}
footer .container .social-media .row .col-10 .row .social-app a img {
  min-width: 20px;
  min-height: 20px;
}

@media screen and (max-width: 991.98px) {
  footer .container .row {
    align-items: center;
    justify-content: center;
  }
  footer .container .row .logo {
    padding-left: 0px;
  }
}
@media screen and (max-width: 575.98px) {
  footer .container .row {
    row-gap: 20px;
  }
  footer .container .row .logo, footer .container .row .home-nav, footer .container .row .help-nav, footer .container .row .contact-us {
    align-items: center;
    padding: 0px;
    text-align: center;
  }
  footer .container .row .logo .small, footer .container .row .home-nav .small, footer .container .row .help-nav .small, footer .container .row .contact-us .small {
    align-items: center;
    justify-content: center;
  }
  footer .container .social-media .row .col-10 .row .vertify img {
    margin: 0 auto;
  }
  footer .container .social-media .row .col-10 .row .social-app {
    align-items: center;
    justify-content: center;
  }
}
.header {
  background-color: #fff;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 99;
  padding: 15px 0;
  box-shadow: 0px 1.6666666269px 8.3333330154px 0px rgba(0, 0, 0, 0.15);
}
.header .row {
  margin-top: 0px;
  margin-bottom: 0px;
}
.header .logo {
  height: 99px;
  overflow: hidden;
}
.header .logo img {
  display: block;
  max-height: 100%;
  margin-left: 0px;
}
.header .header-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header .header-nav .menu ul {
  display: flex;
  list-style: none;
}
.header .header-nav .menu ul li {
  padding: 0 25px;
}
.header .header-nav .menu ul li a {
  font-weight: 600;
  padding-bottom: 54px;
}
.header .header-nav .menu ul li.active a, .header .header-nav .menu ul li:hover a {
  color: #46B20F;
  border-bottom: 2px solid #46B20F;
}
.header .header-nav .cart-icon {
  padding: 0 25px;
}
.header .header-nav .cart-icon a {
  position: relative;
  display: block;
}
.header .header-nav .cart-icon a span {
  position: absolute;
  right: -8px;
  top: -6px;
  background-color: #FF6916;
  color: #fff;
  padding: 0 4px;
  border-radius: 50%;
  font-size: 1.3rem;
}
.header .header-nav .search-icon {
  padding-left: 25px;
}
.header .menu-toggle {
  display: none;
}
.header .menu-overlay {
  opacity: 0;
  visibility: hidden;
}

@media screen and (max-width: 991px) {
  .header .logo {
    text-align: center;
  }
  .header .menu-toggle {
    display: block;
  }
  .header .menu-toggle label {
    font-size: 2.5rem;
  }
  .header .header-nav .menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    min-width: 250px;
    background-color: #46B20F;
    text-align: left;
    transform: translateX(-100%);
    transition: transform 0.4s ease-in-out;
    z-index: 2;
  }
  .header .header-nav .menu ul {
    padding: 15px 0;
    display: block;
  }
  .header .header-nav .menu ul li {
    padding: 0;
  }
  .header .header-nav .menu ul li a {
    display: block;
    color: #fff !important;
    padding: 10px 15px;
  }
  .header .header-nav .menu-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    transition-property: opacity visibility;
    transition: 0.4s ease-in-out;
  }
  .header .header-nav .cart-icon {
    padding: 15px 0;
  }
  .header .header-nav .search-icon {
    padding-left: 15px;
  }
  .header .header-nav input[type=checkbox]:checked ~ .menu {
    transform: translateX(0%);
  }
  .header .header-nav input[type=checkbox]:checked ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
  }
}
.section-intro {
  margin-top: 130px;
}
.section-intro .green-chop {
  margin: 0 auto;
}
.section-intro .green-chop .green-intro {
  color: #2C2C2C;
}
.section-intro .green-chop .green-intro .green-intro-inner {
  margin-top: 218px;
  text-align: left;
}
.section-intro .green-chop .green-intro .green-intro-inner .intro-title h1 {
  font-size: 3.6rem;
  font-weight: 800;
}
.section-intro .green-chop .green-intro .green-intro-inner .intro-heading h2 {
  max-width: 80%;
  font-size: 4.4rem;
  font-weight: 800;
  line-height: normal;
}
.section-intro .green-chop .green-intro .green-intro-inner .intro-text {
  max-width: 80%;
  margin-top: 32px;
  font-size: 1.6rem;
  font-weight: 400;
}

.green-product {
  border-radius: 12px;
  background-color: #dcffca;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  width: 49vw;
  min-height: 776px;
  position: relative;
}
.green-product .product-img {
  position: absolute;
  width: 717px;
  height: 719px;
  object-fit: cover;
  align-items: center;
  top: 20px;
  left: -150px;
}
.green-product .product-rotate {
  text-align: left;
  color: #216000;
  font-size: 16.6rem;
  line-height: 16.6rem;
  font-weight: 800;
  opacity: 0.15;
  transform-origin: 0 0;
  rotate: 90deg;
  position: absolute;
  left: 750px;
  top: 50px;
}

@media screen and (max-width: 1479px) {
  .green-product .product-img {
    width: 650px;
    top: 100px;
  }
  .green-product .product-rotate {
    margin-top: 50px;
    font-size: 14rem;
    line-height: 1;
    left: 650px;
  }
}
@media screen and (max-width: 1299px) {
  .section-intro .green-chop .green-intro .green-intro-inner .intro-title h1 {
    font-size: 3.2rem;
    font-weight: 800;
  }
  .green-product .product-img {
    top: 120px;
    width: 550px;
  }
  .green-product .product-rotate {
    font-size: 12rem;
    line-height: 1;
    left: 500px;
    margin-top: 50px;
  }
}
@media screen and (max-width: 991.98px) {
  .section-intro .green-chop .green-intro .green-intro-inner .intro-text {
    max-width: 100%;
  }
  .section-intro .green-chop .green-intro .green-intro-inner .intro-heading h2 {
    max-width: 100%;
  }
  .section-intro .green-chop .green-intro .green-intro-inner {
    margin-top: 50px;
  }
  .green-intro-inner .intro-title h1, .green-intro-inner .intro-heading h2, .green-intro-inner .intro-text p {
    text-align: center;
  }
  .green-product {
    width: 100%;
    min-height: 600px;
    justify-content: center;
    align-items: center;
  }
  .green-product .product-img {
    height: auto;
    max-width: 70%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .green-product .product-rotate {
    position: static;
    rotate: 0deg;
    font-size: 8rem;
    line-height: 8rem;
    text-align: center;
    margin: 0;
  }
}
.comment-header {
  margin-top: 100px;
  align-items: center;
  justify-content: center;
}
.comment-header > h2 {
  font-size: 3.2rem;
  text-align: center;
  line-height: 42px;
}
.comment-header > p {
  margin-top: 24px;
  font-size: 1.6rem;
  line-height: 20px;
  font-weight: 400;
}

.comment-content {
  display: flex;
  justify-content: center;
}

.comment {
  align-items: center;
  justify-content: center;
}
.comment .comment-item {
  max-width: 100%;
  padding: 34px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: -5.8333330154px 8.3333330154px 72.5px 0px rgba(54, 54, 54, 0.12);
}
.comment .escutcheon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 83px;
  height: 83px;
  background-color: #FFF0E7;
  border-radius: 10px;
}
.comment .escutcheon > img {
  width: 45px;
  height: 45px;
}
.comment .quantity-comment {
  margin: 24px 0px;
  font-size: 4.4rem;
  font-weight: 800;
}
.comment .family-comment {
  text-align: left;
  font-size: 2rem;
  font-weight: 400;
  line-height: 31px;
}

.comment {
  margin-top: 50px;
  margin-bottom: 100px;
  align-items: center;
}
.comment .restaurant {
  padding: 60px 34px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 95%;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: -5.8333330154px 8.3333330154px 72.5px 0px rgba(54, 54, 54, 0.12);
}
.comment .restaurant .restaurant-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 83px;
  width: 83px;
  background-color: #f2ffec;
  border-radius: 10px;
}
.comment .restaurant .restaurant-img > img {
  width: 45px;
  height: 45px;
}
.comment .restaurant .quantity-restaurant {
  margin: 24px 0px;
  font-size: 4.4rem;
  font-weight: 800;
}
.comment .restaurant .restaurant-text {
  font-size: 2rem;
  font-weight: 400;
  line-height: 31px;
  text-align: left;
  padding-right: 30px;
}
.comment .comment-escutcheon {
  position: relative;
  background-color: #fff;
}
.comment .comment-escutcheon::before {
  content: "";
  position: absolute;
  top: -80px;
  left: -80px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: #dcffca;
  z-index: -1;
}
.comment .comment-city {
  position: relative;
  background-color: #fff;
}
.comment .comment-city::after {
  content: "";
  position: absolute;
  bottom: -110px;
  right: -80px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: #ffd5bd;
  z-index: -1;
}

@media screen and (max-width: 1200px) {
  .comment .container .row .comment-content .comment-escutcheon::before {
    display: none;
  }
  .comment .container .row .comment-content .comment-city::after {
    display: none;
  }
}
@media screen and (max-width: 991.98px) {
  .comment .container .row .comment-content {
    margin-top: 10px;
    width: 100%;
  }
  .comment .container .row .comment-content .comment-item {
    width: 100%;
  }
  .comment .container .row .comment-content .restaurant {
    width: 100%;
    max-width: 100%;
    padding: 34px;
  }
}
.product .product-title h2 {
  margin-top: 200px;
  font-weight: 800;
  font-size: 3.2rem;
  line-height: 42px;
  text-align: center;
}
.product .product-list {
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 100px;
  column-gap: 70px;
  row-gap: 100px;
}
.product .product-list .product-item-dice {
  position: relative;
}
.product .product-list .product-item-dice::before {
  content: "";
  width: 270px;
  height: 270px;
  border-radius: 50%;
  position: absolute;
  background-color: #dcffca;
  left: 50%;
  transform: translateX(-50%);
  top: 0%;
  z-index: -1;
}
.product .product-list .product-item-cady,
.product .product-list .product-item-game {
  position: relative;
}
.product .product-list .product-item-cady::before,
.product .product-list .product-item-game::before {
  content: "";
  width: 270px;
  height: 270px;
  border-radius: 50%;
  position: absolute;
  background-color: #ffba94;
  left: 50%;
  transform: translateX(-50%);
  top: 0%;
  z-index: -1;
}
.product .product-list .product-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.product .product-list .product-item .product-img {
  width: 100%;
  padding-top: 135px;
  margin: auto;
}
.product .product-list .product-item .product-heading {
  position: relative;
  display: flex;
  margin-top: 18px;
  padding-bottom: 12px;
  font-weight: 700;
  font-size: 2.6rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.product .product-list .product-item .product-heading::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  content: "";
  width: 40px;
  height: 2px;
  transform: translateX(-50%);
  background-color: #a3a3a3;
}
.product .product-list .product-item .product-quantity {
  margin-top: 17px;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
}
.product .product-list .product-item .product-quantity > p {
  color: #656565;
}
.product .product-list .product-item .product-quantity .product-price {
  margin-top: 7px;
}
.product .product-list .product-item .product-quantity .product-price span {
  color: #2c2c2c;
  font-size: 2.8rem;
  font-weight: 600;
}
.product .product-list .product-btn {
  margin-top: 31px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: #46B20F;
}
.product .product-list .product-btn > a {
  margin: 13px 12px;
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
}
.product .product-list .product-btn:hover {
  background-color: orange;
}

@media screen and (max-width: 1199px) {
  .product .product-list .product-item .product-content .product-heading {
    font-size: 2rem;
  }
  .product .product-list .product-item .product-content .product-quantity .product-price {
    margin-top: 7px;
  }
  .product .product-list .product-item .product-content .product-quantity .product-price span {
    color: #2c2c2c;
    font-size: 2rem;
    font-weight: 600;
  }
}
@media screen and (max-width: 991.98px) {
  .product .product-title h2 {
    margin-top: 50px;
  }
  .product .product-list {
    margin-top: 0px;
    column-gap: 0px;
    row-gap: 0px;
  }
  .product .product-list .product-item-cady .product-img,
  .product .product-list .product-item-game .product-img,
  .product .product-list .product-item-dice .product-img {
    padding-top: 30px;
  }
  .product .product-list .product-item-cady::before,
  .product .product-list .product-item-game::before,
  .product .product-list .product-item-dice::before {
    display: none;
  }
  .product .product-list .product-item .product-content .product-heading {
    font-size: 2.4rem;
  }
  .product .product-list .product-item .product-content .product-quantity .product-price {
    margin-top: 7px;
  }
  .product .product-list .product-item .product-content .product-quantity .product-price span {
    color: #2c2c2c;
    font-size: 2.4rem;
    font-weight: 600;
  }
}
@media screen and (max-width: 610px) {
  .product .product-list .product-item .product-content .product-heading {
    font-size: 2rem;
  }
  .product .product-list .product-item .product-content .product-quantity {
    margin-top: 17px;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
  }
  .product .product-list .product-item .product-content .product-quantity > p {
    color: #656565;
  }
  .product .product-list .product-item .product-content .product-quantity .product-price {
    margin-top: 7px;
  }
  .product .product-list .product-item .product-content .product-quantity .product-price span {
    color: #2c2c2c;
    font-size: 2rem;
    font-weight: 600;
  }
  .product .product-list .product-item .product-btn > a {
    margin: 13px 12px;
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
  }
}
@media screen and (max-width: 480px) {
  .product .product-list .product-item .product-content .product-heading {
    font-size: 1.3rem;
  }
  .product .product-list .product-item .product-content .product-quantity {
    margin-top: 17px;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
  }
  .product .product-list .product-item .product-content .product-quantity > p {
    color: #656565;
  }
  .product .product-list .product-item .product-content .product-quantity .product-price {
    margin-top: 7px;
  }
  .product .product-list .product-item .product-content .product-quantity .product-price span {
    color: #2c2c2c;
    font-size: 1.3rem;
    font-weight: 600;
  }
  .product .product-list .product-item .product-btn {
    margin-top: 20px;
  }
  .product .product-list .product-item .product-btn > a {
    margin: 13px 12px;
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
  }
}
.news .news-header > h2 {
  text-align: center;
  font-size: 3.2rem;
  line-height: 42px;
  font-weight: 800;
}
.news .news-header > p {
  text-align: center;
  margin: 23px auto;
  max-width: 658px;
  font-size: 1.6rem;
  line-height: 21px;
  font-weight: 400;
}
.news .news-button {
  margin: 100px auto;
  width: 184px;
  height: 56px;
  border: 1px solid #46B20F;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 4px;
}
.news .news-button > a {
  font-size: 2rem;
  font-weight: 700;
  color: #2C2C2C;
}
.news .news-button:hover {
  background-color: #46B20F;
}
.news .news-button:hover a {
  color: #fff;
}

.news-inner {
  margin-top: 30px;
}

.news-list .news-item .news-date {
  margin-top: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.news-list .news-item .news-date > a {
  font-size: 1.8rem;
  font-weight: 500;
  color: #46B20F;
}
.news-list .news-item .news-date > a:hover {
  color: rgb(0, 0, 180);
  opacity: 0.8;
}
.news-list .news-item .news-date .detail-date {
  color: #a3a3a3;
  column-gap: 12px;
  font-size: 1.5rem;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.news-list .news-item .news-heading {
  text-align: left;
  margin-top: 17px;
  font-size: 2rem;
  font-weight: 600;
  line-height: 27px;
}
.news-list .news-item .news-heading:hover h3 a {
  color: rgb(0, 0, 180);
  opacity: 0.8;
}
.news-list .news-item .news-text {
  text-align: left;
  margin-top: 17px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 21px;
}

@media screen and (max-width: 767px) {
  .news .news-header > h2 {
    margin-top: -50px;
  }
  .news .news-inner .news-list {
    row-gap: 30px;
  }
  .news .news-button {
    margin: 50px auto;
    width: 184px;
  }
}
@media screen and (max-width: 576px) {
  .news .news-inner .news-list .news-img a img {
    width: 100%;
  }
  .news .news-button {
    margin: 50px auto;
    width: 100%;
  }
}
.protect {
  margin-top: 100px;
  position: relative;
}
.protect::after {
  top: 315px;
  left: 0px;
  content: "";
  position: absolute;
  width: 100%;
  height: 360px;
  background-color: #fff0e7;
  z-index: -1;
}
.protect .protect-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.protect .protect-header > h2 {
  text-align: center;
  font-size: 3.2rem;
  line-height: 42px;
  font-weight: 800;
  padding: 0;
}
.protect .protect-header > p {
  margin-top: 24px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 20px;
  padding: 0px 50px;
}
.protect .protect-list {
  margin: 50px 0px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  row-gap: 30px;
}
.protect .protect-list > [class^=col-] .protect-item {
  background-color: #fff;
  border-radius: 10px;
  min-height: 100%;
}
.protect .protect-list > [class^=col-] .protect-item .protect-img {
  width: 100%;
}
.protect .protect-list > [class^=col-] .protect-item .protect-heading h3 {
  margin-top: 24px;
  font-size: 2rem;
  font-weight: 600;
  line-height: 27px;
  padding-left: 28px;
  text-align: left;
  color: #FF6916;
}
.protect .protect-list > [class^=col-] .protect-item .protect-text {
  text-align: left;
  margin-left: 28px;
  margin-right: 10px;
  padding-bottom: 10px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 20px;
}

@media screen and (max-width: 991.98px) {
  br {
    display: none;
  }
  .protect {
    background-color: #fff0e7;
    padding-bottom: 20px;
  }
  .protect .protect-list {
    margin: 0;
  }
  .protect .protect-list > [class^=col-] .protect-item .protect-img img {
    width: 100%;
  }
  .protect .protect-list > [class^=col-] .protect-item .protect-heading h3 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .protect::after {
    display: none;
  }
  .protect .container .protect-header {
    margin-top: -50px;
  }
  .protect .container .protect-header h2 {
    text-align: center;
    margin-bottom: 0px;
  }
  .protect .container .protect-header p {
    margin-top: 10px;
    text-align: center;
  }
}
@media screen and (max-width: 767.98px) {
  .protect .protect-list {
    justify-content: flex-start;
  }
}
@media screen and (max-width: 575.98px) {
  .protect .protect-list > [class^=col-] .protect-item .protect-heading h3 {
    padding-left: 0px;
  }
  .protect .protect-list > [class^=col-] .protect-item .protect-text-01, .protect .protect-list > [class^=col-] .protect-item .protect-text-02, .protect .protect-list > [class^=col-] .protect-item .protect-text-03 {
    margin-left: 0px;
  }
}
.quality {
  margin-top: 250px;
  margin-bottom: 0px;
}
.quality .quality-list {
  margin: 0;
  justify-content: center;
  align-items: stretch;
  column-gap: 50px;
  row-gap: 40px;
}
.quality .quality-list > [class^=col-] {
  padding-right: 0px;
}
.quality .quality-list .quality-item {
  align-items: stretch;
  margin: 0;
}
.quality .quality-list .quality-item .quality-img {
  padding: 0;
  max-width: 100%;
  height: auto;
}
.quality .quality-list .quality-item .quality-img img {
  max-width: 55px;
}
.quality .quality-list .quality-item .quality-content {
  max-width: 220px;
  text-align: left;
  padding: 0px;
}
.quality .quality-list .quality-item .quality-content .quality-heading {
  font-size: 2rem;
  font-weight: 600;
}
.quality .quality-list .quality-item .quality-content .quality-text {
  padding: 0px;
  margin-top: 8px;
  font-size: 1.7rem;
  font-weight: 500;
}

@media screen and (max-width: 991.98px) {
  .quality {
    margin: 50px auto;
  }
  .quality .quality-list {
    margin: 0;
    column-gap: 0px;
    row-gap: 30px;
  }
  .quality .quality-list .quality-item .quality-content {
    max-width: 100%;
  }
}
.contact {
  margin-top: 250px;
  margin-bottom: 100px;
}
.contact .row {
  margin: 0 auto;
}
.contact .row .contact-img {
  position: relative;
}
.contact .row .contact-img::before {
  position: absolute;
  content: "";
  width: 440px;
  height: 440px;
  background-color: #FFF0E7;
  border-radius: 50%;
  z-index: -1;
  top: 60px;
  left: 50px;
}
.contact .form-contact {
  padding-left: 120px;
  display: flex;
  flex-direction: column;
}
.contact .form-contact > h3 {
  text-align: left;
  margin-top: 55px;
  font-size: 2.4rem;
  font-weight: 600;
}
.contact .form-contact .contact-name input {
  margin-top: 26px;
  max-height: 45px;
  border: 1px solid #a3a3a3;
  border-radius: 8px;
  width: 100%;
  padding: 15px;
  font-size: 1.6rem;
  font-weight: 400;
}
.contact .form-contact .contact-mail {
  margin-top: 22px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.contact .form-contact .contact-mail input {
  border: 1px solid #a3a3a3;
  border-radius: 8px;
  padding: 15px;
  font-family: Inter, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  width: calc(50% - 10px);
}
.contact .form-contact .contact-message {
  margin-top: 22px;
}
.contact .form-contact .contact-message textarea {
  resize: none;
  font-family: Inter, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  border: 1px solid #a3a3a3;
  width: 100%;
  height: 170px;
  color: #a3a3a3;
  padding: 16px;
  border-radius: 8px;
}
.contact .form-contact input:focus,
.contact .form-contact textarea:focus {
  border: 1px solid #2C2C2C;
}
.contact .form-contact .form-btn {
  margin-top: 26px;
  display: flex;
  justify-content: flex-end;
}
.contact .form-contact .form-btn .btn {
  border-radius: 8px;
  background-color: #46B20F;
  color: #fff;
}
.contact .form-contact .form-btn .btn span {
  display: inline-block;
  width: 105px;
  font-size: 2rem;
  margin: 14px 22px;
}
.contact .form-contact .form-btn .btn:hover {
  background-color: orange;
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 991.98px) {
  .contact {
    margin-top: 100px;
    margin-bottom: 50px;
  }
  .contact .container .row .contact-img::before {
    display: none;
  }
  .contact .container .form-contact {
    padding-left: 0px;
  }
  .contact .container .form-contact > h3 {
    margin-top: 0px;
  }
}
@media screen and (max-width: 767.98px) {
  .contact {
    margin-top: 50px;
  }
  .contact .container .row .col-5 {
    display: none;
  }
  .contact .container .row .form-contact {
    width: 100%;
  }
  .contact .container .row .form-contact h3 {
    text-align: center;
    margin-bottom: 0px;
  }
  .contact .container .row .form-btn {
    margin-top: 20px;
    display: block;
  }
  .contact .container .row .form-btn .btn {
    border-radius: 8px;
    background-color: #46B20F;
    color: #fff;
    min-width: 100%;
  }
  .contact .container .row .form-btn .btn span {
    display: block;
    min-width: 100%;
    font-size: 2rem;
    margin: 14px auto;
  }
}
@media screen and (max-width: 575.98px) {
  .contact {
    margin-top: 50px;
  }
}

/*# sourceMappingURL=style.css.map */
